/*
    LOGIN PAGE
*/

@import url('https://fonts.googleapis.com/css?family=Poppins');

.wrapperLogin {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    min-height: 300px;
    padding: 20px;
    margin: 100px auto 300px auto;
}

    .wrapperLogin a {
        color: #f08e81;
        display: inline-block;
        text-decoration: none;
        font-weight: 400;
    }

    .wrapperLogin h2 {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        display: inline-block;
        margin: 40px 8px 10px 8px;
        color: #cccccc;
    }

    .wrapperLogin #formContent {
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        background: #fff;
        padding: 30px;
        width: 90%;
        max-width: 450px;
        position: relative;
        padding: 0px;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        text-align: center;
    }

    .wrapperLogin #formFooter {
        background-color: #f6f6f6;
        border-top: 1px solid #dce8f1;
        padding: 25px;
        text-align: center;
        -webkit-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
    }

    .wrapperLogin h2.inactive {
        color: #cccccc;
    }

    .wrapperLogin h2.active {
        color: #0d0d0d;
        border-bottom: 2px solid #f35b3f;
    }

    .wrapperLogin input[type=submit] {
        background-color: #f35b3f;
        border: none;
        color: white;
        padding: 15px 80px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        margin: 5px 20px 40px 20px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .wrapperLogin input[type=submit]:hover {
            background-color: #f3753f;
        }

        .wrapperLogin input[type=submit]:active {
            -moz-transform: scale(0.95);
            -webkit-transform: scale(0.95);
            -o-transform: scale(0.95);
            -ms-transform: scale(0.95);
            transform: scale(0.95);
        }

    .wrapperLogin input[type=text], .wrapperLogin input[type=password] {
        background-color: #f6f6f6;
        border: none;
        color: #0d0d0d;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid #f6f6f6;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }

        .wrapperLogin input[type=text]:focus, .wrapperLogin input[type=password]:focus {
            background-color: #fff;
            border-bottom: 2px solid #5fbae9;
        }

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media only screen and (max-width:400) {
    .wrapperLogin {
        margin-left: 0px;
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.wrapperLogin .fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

    .wrapperLogin .fadeIn.first {
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .wrapperLogin .fadeIn.second {
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }

    .wrapperLogin .fadeIn.third {
        -webkit-animation-delay: 0.8s;
        -moz-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }

    .wrapperLogin .fadeIn.fourth {
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        animation-delay: 1s;
    }

.wrapperLogin .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #000;
    content: "";
    transition: width 0.2s;
}

.wrapperLogin .underlineHover:hover {
    color: #f35b3f;
}

    .wrapperLogin .underlineHover:hover:after {
        width: 100%;
    }

/*
    PROFILE PAGE
*/
.userProfile {
    background-color: #F0F2F5;
}

    .userProfile .info {
        width: 100%;
        background-color: #fff;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 10px;
        box-shadow: 0 8px 6px -6px #f35b3f;
        padding-bottom: 10px;
    }

        .userProfile .info .profile_logo img {
            border: 2px solid #27282A;
            border-radius: 50%;
            width: 150px;
        }

        .userProfile .info .profile_name .name {
            font-weight: 700;
            font-size: 22px;
        }

        .userProfile .info .profile_name .username {
            font-weight: 300;
            font-size: 20px;
        }

.respect {
    font-weight: 500;
}

.cloud {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.data .user_info h3 {
    font-weight: 700;
    font-size: 18px;
}

.data .user_info div {
    margin-bottom: 10px;
    font-size: 14px;
}

/*
    SCIENCE CLUB PAGE
*/

.clubProfile {
    background-color: #F0F2F5;
}

    .clubProfile .info {
        width: 100%;
        background-color: #fff;
        margin-bottom: 20px;
        margin-top: 10px;
        box-shadow: 0 8px 6px -6px #f35b3f;
        padding-bottom: 10px;
    }

        .clubProfile .info .clubLogo {
            float: left;
        }

            .clubProfile .info .clubLogo img {
                border: 2px solid #27282A;
                border-radius: 50%;
                width: 150px;
                margin: 5px;
            }

        .clubProfile .info .clubName {
            padding-top: 100px;
            margin-left: 15px;
        }

            .clubProfile .info .clubName .name {
                font-weight: 700;
                font-size: 22px;
            }

            .clubProfile .info .clubName .category {
                font-weight: 300;
                font-size: 16px;
            }
        .clubProfile .info .btn{
            margin-top: 110px;
        }

        .clubProfile .info .clubButtons{
            text-align: right;
        }

.memberListItem a{
    color: black;
    text-decoration: none;
}

.imgMemberListItem {
    width: 40px;
    border: 2px solid #27282A;
    border-radius: 50%;
    float: left;
}

.dataMemberListItem{
    line-height:30px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}

@media only screen and (max-width: 770px) {
    .clubProfile .info .btn {
        margin-top: 10px;
    }
}

.cloud h3 {
    font-weight: 700;
    font-size: 18px;
}

.cloud h5 {
    text-align: right;
    color: #f35b3f;
}

    .cloud h5 i:hover {
        animation-name: zakrecPlusem;
        animation-duration: 0.4s;
        animation-iteration-count: 1;
        text-align: right;
    }

@keyframes zakrecPlusem {
    0% {
        transform: rotate(20deg);
    }

    10% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-20deg);
    }

    30% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(-20deg);
    }

    70% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(10deg);
    }

    90% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.cloud div {
    margin-bottom: 10px;
    font-size: 14px;
}

.vl {
    border-left: 1px solid #DBDBDB;
    height: 40px;
    float:left;
    margin: 0 10px 0 10px;
}