<div class="row">
    @for (int i = 0; i < ViewBag.Members.Count; i++)
    {
    <div class="col-12 memberListItem">
        <a href="/Members/Details/@ViewBag.Members[i].ID">
            @if (ViewBag.Logos[i] == null)
            {
                <img src="@ViewBag.Logos[i]" class="imgMemberListItem" />
            }
            else
            {
                <img src='https://avatars.dicebear.com/api/avataaars/@( ViewBag.Members[i].FirstName + ViewBag.Members[i].LastName ).svg' class="imgMemberListItem">
            }
            <div class="vl"></div>
            <span class="dataMemberListItem">
                @ViewBag.Members[i].FirstName @ViewBag.Members[i].LastName
            </span>
            @ViewBag.Roles[i]
        </a>
        <hr />
    </div>
    }
</div>