<div class="dropdown-container">
    @for (int i = 0; i < ViewBag.ScienceClubs.Count; i++)
    {
        <a href="/ScienceClubs/Details/@(ViewBag.ScienceClubs[i].ID)">
            <img src="@ViewBag.Images[i]" width="30" style="border-radius:50%"/>
            @ViewBag.ScienceClubs[i].Name
        </a>
    }
</div>
