@{
    ViewBag.Title = "Udana rejestracja na ScienceBooku-u.";
}
<div class="row bg-own-dark" style="min-height:100vh;">
    <div class="col-md-4 col-sm-12 offset-md-4 offset-sm-0 text-center text-muted mt-9">
        <h1 class="text-warning" style="font-size:64px;"><i class="fas fa-smile-beam text_orange"></i></h1>
        <h3>
            Tylko jeden krok pozostał abyś mógł korzystać ze swojego konta na <span class="text-warning">ScienceBook</span>-u!<br />
            Link potwierdzający został wysłany na email. Kliknij i dołacz do naszej społeczności.
        </h3>
    </div>
</div>
