
@{
    ViewBag.Title = "ScienceBook - Potwierdź login";
}

    <h2 style="text-align:center; margin-top:50px;">
        <i class="fas fa-smile-beam text_orange"></i> Twoje konto zostało założone!<br />
    </h2>
    <div style="text-align:center;">
        Tylko jeden krok pozostał abyś mógł korzystać ze swojego konta na Science<span class="text_orange">Book</span>!<br />
        Kliknij w link, który wysłaliśmy Ci na email i dołącz do nas!
    </div>


