
@{
    ViewBag.Title = "ScienceBook - Offline";
}

<h2 style="text-align:center; margin-top:50px;">Jesteś offline. Włącz internet i korzystaj dalej w pełni z Science<span class="text_orange">Book</span></h2>

